/*------------------------------------
--------------------------------------
-----------------BODY-----------------
--------------------------------------
------------------------------------*/

body {
	margin: 0 auto;

	background: #F8F8F8;

	font-family: 'Lato', Arial, 'Lucida Grande', 'Lucida Sans Unicode';
	font-weight: 300;
	font-size: 4vh;
}

/*--------------------------------------
----------------------------------------
-----------------HEADER-----------------
----------------------------------------
--------------------------------------*/

#header {
	min-height: 14vh;
	width: 100%;

	box-shadow: rgba(0, 0, 0, 0.247059) 0px 0px 5px 0px;

	line-height: 14vh;
}